@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

header {
  background-color: white;
  margin: 16px 15px;
  min-width: 290px;
}

.head1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  min-width: 101px;
  height: 100%;
}

.icons {
  min-width: 116px;
  height: 100%;
  margin: 5px 16px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.telegram {
  padding: 0 10px;
}

.burger {
  max-width: 50px;
  height: 100%;
}

.vois {
  background-color: white;
  border-color: #ffedcb;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  width: 135px;
  height: 40px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #464646;
}

.number {
  padding-left: 10px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #464646;
}

.gaid {
  padding: 20px 6px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
}

.gaidtxt {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  /* accent */
  color: #fabd61;
}

.txt {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.mainHead {
  padding: 34px 14px 20px 17px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #342100;
}

.mainText {
  padding: 0 41px 30px 17px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #464646;
}

.but {
  padding: 14px 64px;
  margin: 0 auto;
  display: block;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #464646;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  background: radial-gradient(100.13% 100% at 50.11% 0%, #ffebc6 0%, #efab33 100%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 20px rgba(255, 218, 160, 0.5), 0px 4px 0px #d3a854;
          box-shadow: 0px 4px 20px rgba(255, 218, 160, 0.5), 0px 4px 0px #d3a854;
  border-radius: 100px;
}

.baner {
  z-index: 1;
  background-color: #ad0a0a;
  position: relative;
  padding: 34px 0;
}

.baner::after {
  left: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  height: 14px;
  width: 14px;
  bottom: 0;
  position: absolute;
  content: "";
  background: radial-gradient(100.13% 100% at 50.11% 0%, #ffebc6 0%, #efab33 100%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.box {
  margin-top: 123px;
  margin-bottom: 50px;
}

.box12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box1 {
  margin-left: 8px;
  margin-top: 25px;
  position: relative;
  width: 135px;
  height: 95px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.box1::after {
  top: -25px;
  position: absolute;
  border-bottom: 25px solid white;
  border-right: 135px solid transparent;
  content: "";
  border-top-left-radius: 5px;
}

.box2 {
  margin-left: 20px;
  margin-top: 25px;
  position: relative;
  width: 135px;
  height: 95px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.box2::after {
  top: -25px;
  position: absolute;
  border-bottom: 25px solid white;
  border-left: 135px solid transparent;
  content: "";
  border-top-right-radius: 5px;
}

.boxTXT {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #101010;
}

.boxTXT1 {
  margin-left: 13px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #101010;
}

.box3 {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 290px;
  height: 78px;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgbox {
  margin-left: 31px;
}

.inbox {
  padding-left: 20px;
}

.kviz {
  padding: 40px 10px;
  max-width: 290px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.kviz__title {
  margin-bottom: 20px;
  display: block;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fabd61;
}

.kviz__subtitle {
  margin-bottom: 30px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-transform: uppercase;
  color: #342100;
}

.kviz__img {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  max-width: 270px;
  height: 214px;
}

.kviz__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.kviz__btn {
  display: block;
  margin: auto;
  width: 250px;
  height: 60px;
  background: radial-gradient(100.13% 100% at 50.11% 0%, #ffebc6 0%, #efab33 100%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 20px rgba(255, 218, 160, 0.5), 0px 4px 0px #d3a854;
          box-shadow: 0px 4px 20px rgba(255, 218, 160, 0.5), 0px 4px 0px #d3a854;
  border-radius: 100px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #fefefe;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

.kviz .kviz__checkboxes {
  margin-bottom: 20px;
}

.kviz .kviz__checkbox {
  min-width: 24px;
  min-height: 24px;
  border-radius: 5px;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffedcb), to(#fabc5f));
  background: linear-gradient(#ffedcb, #fabc5f);
}

.kviz .kviz__checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.kviz .kviz__checkbox-indicator {
  position: absolute;
  top: 1px;
  left: 1px;
  height: 22px;
  width: 22px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.kviz .kviz__checkbox:hover input ~ .kviz__checkbox-indicator,
.kviz .kviz__checkbox input:focus ~ .kviz__checkbox-indicator {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.kviz .conkviz__checkboxtrol input:checked ~ .kviz__checkbox-indicator {
  background: #2aa1c0;
}

.kviz .kviz__checkbox input:disabled ~ .kviz__checkbox-indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.kviz .kviz__checkbox-indicator:after {
  -webkit-box-sizing: unset;
          box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.kviz .kviz__checkbox input:checked ~ .kviz__checkbox-indicator:after {
  display: block;
}

.kviz .kviz__checkbox .kviz__checkbox-indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fabc5f;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.kviz .kviz__checkbox input:disabled ~ .kviz__checkbox-indicator:after {
  border-color: #7b7b7b;
}

.kviz .kviz__checkbox .kviz__checkbox-indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #2aa1c0;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.kviz .kviz__checkbox-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.kviz .kviz__checkbox-item span {
  margin-left: 10px;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #101010;
}

.kviz .kviz__checkbox-item:not(:last-child) {
  margin-bottom: 20px;
}

.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */