.kviz {
    min-width: 290px;
  position: relative;
  background: #d3b3b3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding-top: 40px;
  padding-bottom: 50px;

  &__txt1{
      padding: 40px 20px 20px 10px;
    display: block;
    margin: auto;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
        color: #FABD61;
  }

  &__txt2{
    padding-left: 10px;
    padding-bottom: 30px;
    display: block;
    margin: auto;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-transform: uppercase;
    
    color: #342100;
  }

  &__img {
    display: block;
    margin: auto;
    padding-bottom: 30px;
  }

  &__but {
    display: block;
    margin: auto;
    width: 250px;
    height: 60px;
    background: radial-gradient(
      100.13% 100% at 50.11% 0%,
      #ffebc6 0%,
      #efab33 100%
    );
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(255, 218, 160, 0.5), 0px 4px 0px #d3a854;
    border-radius: 100px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #fefefe;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  }
}
